<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nineinfosys.android.weightlosscalculators">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".LoginActivity.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivityDrawer"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".LoginActivity.Login"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".LoginActivity.SignUp"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity.Login" />
        </activity>
        <activity
            android:name=".DashBord.GetApp"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>
        <activity
            android:name=".DashBord.ShowFeeds"
            android:configChanges="orientation|screenSize|keyboardHidden"></activity>
        <activity
            android:name=".Forum.NewPostActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Add New Post">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Forum.ForumActivity" /></activity>
        <activity
            android:name=".Forum.PostDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Comment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Forum.ForumActivity" /></activity>
        <activity
            android:name=".Forum.ForumActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Forum" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>
        <activity android:name=".AnorexicBMI.AnorexicBMICalculator"

            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

        <activity android:name=".ArmyBodyFat.ArmyBodyFatCalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

        <activity android:name=".BMI.BMICalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>
        <activity android:name=".BMR.BMRCalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>
        <activity android:name=".IdealWeight.IdealWeightCalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

        <activity android:name=".FAT.FATCalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

        <activity android:name=".FatIntake.FatIntakeCalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

        <activity android:name=".BodyFat.BodyFatCalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

        <activity android:name=".Calorie.CalorieCalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

        <activity android:name=".LeanBodyMass.LeanBodyMassCalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

        <activity android:name=".HealthyWeight.HealthyWeightCalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

        <activity android:name=".Carbohydrate.CarbohydrateCalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivityDrawer" />
    </activity>

        <activity android:name=".Weight.WeightLossConversionList"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivityDrawer" />
    </activity>

        <activity android:name=".Protein.ProteinCalculator"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

        <activity android:name=".DashBord.DashBord"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

        <activity android:name=".FoodNutritionTable.FoodNutritionTable"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityDrawer" />
        </activity>

    </application>



</manifest>